* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h1, h2 {
    color: #00960b;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
}

.main-text {
    text-align: justify;
    margin-bottom: 20px;
}

.author-text {
    font-size: 24px;
    float: left;
    margin-top: 30px;
    margin-left: 10px;
}

.container {
    width: 1140px;
    /*margin: top right bottom left */
    margin: 20px auto 0 auto;
}

.blog-post {
    width: 75%;
    float: left;
    padding-right: 30px;
    position: relative;
}

.blog-post img {
    padding: 20px;
    height: 300px;
    width: auto;
    float: left;
}

.other-post {
    width: 25px;
    float: left;
}

.others {
    margin-bottom: 40px;
}

.footer {
    padding-top: 20px;
    border-top: 1px solid #808080;
}

.footer img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
}

.date {
    position: absolute;
    top: 10px;
    right: 30px;
}